# Системные файлы и каталоги IDE
.vscode/
*.sln
*.user

# Файлы сборки .NET
bin/
obj/

# Конфигурационные файлы (если не нужно коммитить их)
appsettings.json
appsettings.Development.json

# Файлы от HTTP-запросов (если используешь REST Client в VS Code)
*.http

# Исключаем изображения и текстовые файлы (если они не должны попадать в репозиторий)
*.jpg
*.txt
.env